.selected-svg path {
    fill: #ff4f4f;
}
.default-svg path {
    fill: #000000;
}

.custom_date:where(.css-dev-only-do-not-override-9hcf67).ant-picker .ant-picker-input > input {
    font-size: 17px !important;
}

.custom_autocompletes .ant-select-selector .ant-select-selection-search-input {
    font-size: 17px !important;
}

.custom_datepickers:where(.css-dev-only-do-not-override-9hcf67).ant-picker
    .ant-picker-input
    > input {
    font-size: 17px !important;
}

.custom_sort:where(.css-dev-only-do-not-override-9hcf67).ant-select-single .ant-select-selector {
    font-size: 14px !important;
}

.search-result-card:hover {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.01);
}
